<div class="registration-form">
    <h1 style="text-align: center;"> Register for free to access the weather information!</h1>
    <form method="post" action="/Home/Register">
        <div class="form-icon">
            <span><i class="icon icon-user"></i></span>
        </div>
        <div class="form-group">
            <input type="text" class="form-control item" id="username" name="username" value="" placeholder="Choose a username..">
        </div>
        <div class="form-group">
            <input type="password" class="form-control item" id="password" name="password" value="" placeholder="Type your password..">
        </div>
        <div class="form-group">
            <input type="email" class="form-control item" id="email" name="email" value="" placeholder="Your email...">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block create-account">Register</button>
        </div>
    </form>
    <div class="social-media">
        <h5 style="color: black;">Already have an account? Click <a href="/Home/Login" style="color: yellow;">here</a> to login.</h5>
    </div>
